body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

img {
    width: 500px;
    position: static;
}

.div2 {
    height: 50px;
    width: 50px;
    display: inline-block;
}

p {
    background-color: red;
    display: inline-block;
}

ul{
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}

a {
    list-style: none;
}

@keyframes turn {
    0% {
       transform :rotate(0deg) scale(1);
    }
    /* 25% {
        transform :rotate(90deg) scale(2);
     } */
    50% {
        transform :rotate(180deg);
     }
    100% {
        transform :rotate(360deg);
    }
}

.coverDisque {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.disque{
    display: inline-block;
    animation: turn 4s infinite linear;
}

.pause{
    animation-play-state: paused;
}

.juckBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    z-index: 1; /* Assure que le disque est au-dessus de la vidéo */
    max-width: 500px; /* Limite la largeur maximale du juckBox */
    max-height: 500px; 
}

#btnPause {
    position: absolute;
    top: 100%; /* Ajustez la position verticale selon vos besoins */
    right: 50%; /* Ajustez la position horizontale selon vos besoins */
    transform: translate(50%, -50%); /* Centre le bouton horizontalement */
    z-index: 1000; /* Assure que le bouton est au-dessus de la vidéo */

    padding: 10px 50px;
    border: none; /* Supprime la bordure */
    border-radius: 20px; /* Arrondi les coins */
    
    background-color: #994caf; /* Couleur de fond */
    cursor: pointer; /* Curseur de la souris en pointeur */
    transition: background-color 0.3s; /* Transition en douceur lors du survol */
}

#btnRandom {
    position: absolute;
    top: 100%; /* Ajustez la position verticale selon vos besoins */
    right: 38%; /* Ajustez la position horizontale selon vos besoins */
    transform: translate(50%, -50%); /* Centre le bouton horizontalement */
    z-index: 1000; /* Assure que le bouton est au-dessus de la vidéo */
    border: none; /* Supprime la bordure */
    border-radius: 90px; /* Arrondi les coins */
    background-color: transparent;
    cursor: pointer; /* Curseur de la souris en pointeur */
}

#btnRandom img {
    width: 100px;
    height: 100px;
} 

#btnRandom:hover {
    width: 110px;
    height: 110px;  
}

#btnPause img {
    width: 50px;
    height: 50px;
}

/* Style du bouton au survol */
#btnPause:hover {
    background-color: blueviolet; /* Couleur de fond plus foncée */
}


.imgEnTete{
width: 100%;
}

.header {
    width: 100%;
}

#logoSite {
    width: 50px;
    height: 50px;
    padding: 0;
}

/* Ajoutez votre style CSS existant ici */

/* Assurez-vous que la vidéo prend toute la largeur de l'écran et s'ajuste en hauteur de manière proportionnelle */
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* Rapport d'aspect 16:9 (9/16 * 100) */
}


#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Masquez les contrôles de lecture de la vidéo */
#bgVideo::-webkit-media-controls {
    display: none !important;
}

#bgVideo::-webkit-media-controls-enclosure {
    display: none !important;
}

#bgVideo::-webkit-media-controls-panel {
    display: none !important;
}



header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: purple; /* Fond de couleur violet */
    z-index: 1000; /* Assure que la barre de navigation est au-dessus de la vidéo */
}

/* ... (autres styles) */

/* Nouveaux styles pour la barre de navigation */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: purple; /* Fond de couleur violet */
    z-index: 1000; /* Assure que la barre de navigation est au-dessus de la vidéo */
}

.nav-item {
    margin: 0 80px; /* Ajustement de la marge autour des liens */
    list-style: none; /* Ajout de cette propriété pour enlever le style de liste */
    font-size: 25px;
}

.nav-item a {
    text-decoration: none; /* Supprimer le soulignement */
    color:white; /* Couleur du texte pour les liens dans la barre de navigation */
    font-weight: bold;
    transition: color 0.3s ease; /* Transition pour le changement de couleur au survol */
}

.nav-item a:hover {
    color: rgb(106, 106, 224); /* Changement de couleur au survol en bleu foncé */
}


.search-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 215, 0, 0.5); /* Fond jaune transparent à 70% */
    margin-left: 10%;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #2e0707;
    justify-content: flex-start; /* Aligner à gauche */
    padding-left: 10px; /* Ajouter un espace à gauche */
    z-index: 1002; /* Une valeur supérieure à la barre de navigation */
    border-bottom-left-radius: 20px; /* Rayon de bordure pour le coin inférieur gauche */
}

.search-header {
    display: flex;
    align-items: center;
}

.search-header img {
    width: 100%; /* Le logo prend le plus de place possible */
    height: 100%;
    max-width: 90px; /* Limiter la largeur du logo si nécessaire */
    margin-right: 10px;
}

#search {
    color: rgb(0, 0, 0) !important; /* Couleur jaune pour le texte */
    background-color: transparent; /* Fond transparent */
    border: 1px solid rgb(156, 92, 172); 
    padding: 5px; /* Ajuster le rembourrage selon vos préférences */
    margin-left: 10px; /* Ajuster la marge à droite si nécessaire */
    width: 280px;
}

#search::placeholder {
    color: black; /* Remplacez #your_color par la couleur que vous souhaitez */
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.musique-table {
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 10px;
    background: linear-gradient(191deg, rgb(32, 25, 158) 0%, rgba(164, 78, 172, 0.6) 39%, rgb(138, 66, 172) 100%);
    color: white;
    border-radius: 10px;
}

.playlistContainer {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 1001; /* Une valeur supérieure à la barre de navigation (z-index: 1000) pour être sûr qu'il est au-dessus de tout */
    background-image: url("../pictures/notesTexture.jpeg");
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image dans l'élément */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
    overflow-x: hidden; /* Supprime la barre de défilement horizontale */
    max-height: 600px; /* Ajoute une hauteur maximale pour que la barre de défilement apparaisse */
}

.playlistContainer::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
}

.playlistContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Couleur de fond de la piste de défilement */
}

.playlistContainer::-webkit-scrollbar-thumb {
    background-color: yellow; /* Couleur de la barre de défilement */
    border-radius: 6px; /* Arrondi des coins de la barre de défilement */
}

/* Personnalisation de la barre de défilement pour les autres navigateurs */
.playlistContainer {
    scrollbar-width: thin; /* Largeur de la barre de défilement */
}

.playlistContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Couleur de fond de la piste de défilement */
}

.playlistContainer::-webkit-scrollbar-thumb {
    background-color: yellow; /* Couleur de la barre de défilement */
    border-radius: 6px; /* Arrondi des coins de la barre de défilement */
}

.musique-table th,
.musique-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid rgb(34, 20, 114); /* Bordure solide jaune */
    border-radius: 10px ; /* Rayon de bordure de 10 pixels pour la gauche */
    color: rgb(29, 0, 0);
}



.musique-table th {
    background-color: rgb(122, 122, 196, 9%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.table-image {
    max-width: 100px; 
    max-height: 100px; 
    width: 50px; 
    height: 50px; 
}